:host {
    display: block;
    padding: 16px;
    margin: auto;
    margin-top: 32px;
    max-width: 50vw;

    .list-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    mat-form-field {
        width: 100%;
    }
}

